:host {
  display: block;
  width: 100%;
}


mat-form-field {
  width: calc(100% - 30px);
  margin: 10px 15px;
}


mat-dialog-content {
  padding-top: 10px !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


mat-dialog-actions {
  margin-top: 10px;
  padding: 10px 15px;
}

button {
  min-width: 110px;
}

