.libros-card {
  margin: 24px;
  padding: 16px;
}

.libros-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.libros-title {
  font-size: 20px;
  font-weight: 600;
}

.full-width-table {
  width: 100%;
  overflow-x: auto;
}

.flex {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}