.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #965334, #f6d365);
  
}
mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
  margin-top: 50px;
}
form{
  width: 50vw;
  height: 50vh;
}
mat-form-field {
  min-width: 150px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
}

.input {
  border-radius: 8px;
  width: 100%;
}
button {
  width: 100%;
  border-radius: 8px;
  margin-top: 16px;
}

.registro-link {
  text-align: center;
  margin-top: 15px;
}

.registro-link a {
  color: #3f51b5;
  text-decoration: underline;
  cursor: pointer;
}

.registro-link a:hover {
  color: #303f9f;
}

p{
  text-align: center;
}
