<mat-toolbar color="primary">
  <a routerLink="/" class="nav-brand">
    <img src="/assets/icono-libro.png" alt="Logo Librería">
    <span>Librería Alejandría</span>
  </a>


  <span class="example-spacer"></span>

  <!-- 🟢 USUARIO -->
  <button mat-button *ngIf="usuario$ | async as user" [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
    {{ user.Admin ? 'Admin' : '' }} 
    {{ user.nombre }}
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/login">
      <mat-icon>account_circle</mat-icon> Login
    </button>
     <button mat-menu-item 
        (click)="logout()" 
        *ngIf="(usuario$ | async)?.nombre">
  <mat-icon>logout</mat-icon> Logout
</button>
  </mat-menu>
</mat-toolbar>
