<mat-toolbar color="primary">
  <a routerLink="/" class="nav-brand">
    <img src="/assets/icono-libro.png" alt="Logo Librería">
    <span>Librería Alejandría</span>
  </a>

  <span class="example-spacer"></span>

  <button mat-button *ngIf="!accesoService.isLoggedIn()" routerLink="/login">Login</button>

  <button mat-button *ngIf="accesoService.isLoggedIn()" [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
    {{ accesoService.getRol() }}
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/login">
      <mat-icon>account_circle</mat-icon> Login
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </mat-menu>
</mat-toolbar>
