
  <mat-toolbar>
    
  <a routerLink="/" class="nav-brand">
  <img src="/assets/icono-libro.png" alt="Logo Librería">
  <span>Librería Alejandría</span>
  </a>


    <span class="example-spacer"></span>
    <button mat-button class="example-icon" style="color: white;" aria-label="Contacto">
      <span>Contacto</span>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" style="color: white;" aria-label="Ir al login" routerLink="/login">
      <mat-icon>person</mat-icon>
    </button>
    <button style="color: white;" class="mobile-only" mat-icon-button aria-label="Menú">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar>
