.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #965334, #f6d365);
  
}
mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
  margin-top: 50px;
}
form{
  width: 50vw;
  height: 50vh;
}
mat-form-field {
  min-width: 150px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
}

.input {
  border-radius: 8px;
  width: 100%;
}
button {
  width: 100%;
  border-radius: 8px;
  margin-top: 16px;
}
.mat-mdc-card{
  height: 75%;
}