<div class="card-container">
  <mat-card class="login-card">
    <mat-card-title>Registro</mat-card-title>
    <mat-card-content>
        <form [formGroup]="formRegistro" (ngSubmit)="registrarse()">
        <!-- Nombre -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" type="text" required>
          <mat-error *ngIf="formRegistro.get('nombre')?.hasError('required')">
            El nombre es obligatorio
          </mat-error>
          <mat-error *ngIf="formRegistro.get('nombre')?.hasError('minlength')">
            Mínimo 3 caracteres
          </mat-error>
        </mat-form-field>

        <!-- Correo -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="email" type="email" required>
          <mat-error *ngIf="formRegistro.get('email')?.hasError('required')">
            El correo es obligatorio
          </mat-error>
          <mat-error *ngIf="formRegistro.get('email')?.hasError('email')">
            Formato de correo inválido
          </mat-error>
        </mat-form-field>

        <!-- Contraseña -->
        <mat-form-field appearance="fill" class="full-width">
  <mat-label>Confirmar contraseña</mat-label>
  <input matInput formControlName="confirmPassword" type="password" required>
  <mat-error *ngIf="formRegistro.get('confirmPassword')?.hasError('required')">
    Debes confirmar la contraseña
  </mat-error>
  <mat-error *ngIf="formRegistro.hasError('mismatch')">
    Las contraseñas no coinciden
  </mat-error>
</mat-form-field>
        <!-- Es Administrador -->
    <mat-form-field appearance="fill" class="full-width">
  <mat-label>¿Es administrador?</mat-label>
  <mat-select formControlName="admin">
    <mat-option [value]="true">Sí</mat-option>
    <mat-option [value]="false">No</mat-option>
  </mat-select>
</mat-form-field>

        <!-- Botones -->
        <div class="flex">
          <button mat-raised-button color="primary" type="submit" [disabled]="formRegistro.invalid">
            Registrarse
          </button>
          <button mat-raised-button color="warn" type="button" (click)="volver()">
            Volver
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
