<div class="admin-panel">
  <h2>Panel de Administración</h2>

  <div class="admin-actions">
    <button mat-raised-button color="primary" (click)="administrarUsuarios()">
      <mat-icon>person</mat-icon>
      <span>Administrar Usuarios</span>
    </button>

    <button mat-raised-button color="accent" (click)="administarLibros()">
      <mat-icon>book</mat-icon>
      <span>Administrar Libros</span>
    </button>

    <div class="volver-button">
      <button mat-raised-button color="warn" (click)="volver()"><mat-icon>arrow_back</mat-icon>
        Volver
      </button>
  </div>
</div>
