.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: #c06a08;;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 1000;
}

.badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
}

.chat-window {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 340px;
  height: 450px;
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
  overflow: hidden;
  z-index: 1000;
}

.chat-header {
  background: #c06a08;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.chat-header button {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.chat-header button:hover {
  background-color: #ddd;
  color: black;
  border-radius: 4px;
}
.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  display: flex;
  margin-bottom: 8px;
}

.message.self {
  justify-content: flex-end;
}

.bubble {
  background: #f1f1f1;
  padding: 8px 10px;
  border-radius: 10px;
  max-width: 75%;
}

.message.self .bubble {
  background: #4CAF50;
  color: white;
}

.chat-footer {
  display: flex;
  padding: 8px;
  border-top: 1px solid #ddd;
  transition: transform 0.2s ease, background 0.2s ease;

}

.chat-footer input {
  flex: 1;
  padding: 6px;
}

.chat-footer button {
  background: #c06a08;
  color: white;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 6px;

}
.chat-footer button:hover {
  background: #a05a06;
  transform: scale(1.05);

}
.chat-footer mat-icon {
  vertical-align: middle;
  font-size: 18px;
  padding-right: 5px;
}
.usuarios-lista {
  width: 200px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.usuario-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.usuario-item:hover,
.usuario-item.activo {
  background: #f0f0f0;
}
.estado-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  margin-left: auto;
  flex-shrink: 0;
  transition: background 0.3s;
}

.estado-dot.conectado {
  background: #22c55e;
  box-shadow: 0 0 5px #22c55e;
}